<div style="padding-top: 80px" class="container">
  <div class="card">
    <div class="icon">
      <img src="assets/car.png" alt="Icon">
    </div>
    <p class="value">25</p>
    <p class="label">Total Cars</p>
  </div>
  <div class="card">
    <div class="icon">
      <img src="assets/motorcycle.png" alt="Icon">
    </div>
    <p class="value">30</p>
    <p class="label">Total Motorcycle</p>
  </div>
  <div class="card">
    <div class="icon">
      <img src="assets/cost.png" alt="Icon">
    </div>
    <p class="value">55</p>
    <p class="label">Total</p>
  </div>
</div>
