.navbar {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;



}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: #0055D8;;

}

.nav-link {
  color: #000;
  font-weight: 500;
}

.nav-link:hover {
  color: #0055D8;;
}

.dropdown-menu {
  min-width: 200px;
}

.nav-link.activate {
  border-bottom: 2px solid #0055D8;; /* Adjust the color and width as needed */
  text-decoration: none; /* Optional: to remove any default text underline */
  color: #0055D8;
}
