.container {
  position: relative;
  text-align: center;
  color: #000000;
  zoom: .6;
  padding-top: 130px;

}

.bottom-left {
  position: absolute;
  bottom: 100px;
  left: 102px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 340px;
  right: 64px;
}

.name{
  position: absolute;
  top: 280px;
  right: 90px;
  margin: 120px 330px;
  color: #26267c;
  font-family: "Yu Gothic UI", serif ;
}

.bottom-right {
  position: absolute;
  bottom: 100px;
  right: 280px;
  font-size: 40px;
  font-weight: bold;
}

.centered {
  position: absolute;
  top: 360px;
  left: 50%;
  font-size: 40px;
  color: white;
  transform: translate(-50%, -50%);
}
@media print {
  .print-btn {
    display: none !important;
  }
}

/* Style the button in the UI */
.print-btn {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.print-btn:hover {
  background-color: #0056b3;
}
