.container {
  position: relative;
  text-align: center;
  color: #000000;
  zoom: .7;
  margin-top: 130px;;

}
.bottom-left {
  position: absolute;
  bottom: 200px;
  left: 16px;
}
.bottom-right {
  position: absolute;
  bottom: 200px;
  right: 16px;
}
.print-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.print-btn:hover {
  background-color: #0056b3;
}
.hidden {
  display: none !important;
}
